.container {
  max-width: 1350px;
  width: 100%;
  margin: 50px;
  height: auto;
  display: block;
}

body {
  color: black;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, monospace;
  background-color: skyblue;
}

h2 {
  text-align: center;
}

.form_group {
  padding: 10px;
  display: block;
}

label {
  float: left;
  padding-right: 50px;
  line-height: 10%;
  display: block;
  width: 208px;
}
nav {
  font-weight: bold;
  font-size: large;
  background: fixed;
  background-color: lightsalmon;
  text-align: center;
  word-spacing: 10px;
}
