<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>My HTML Learning Website - 404</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <h1 class="" headder>Error code: 404 Page not found</h1>
    <br /><br />
    <p class="mainbody">
      Uh oh. The page you were looking for is non-existant or has been removed.
      Please head to our <a href="index.html">Home Page</a>. Sorry for any
      inconvenience. <br /><br />
      If you came upon this page by mistake, try checking the URL in your web
      browser.
    </p>
  </body>
</html>
