<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>My HTML Website - Home Page</title>
  </head>
  <a href="#maincontent" class="skip-nav-link"> Skip Navagation </a>
  <body>
    <%- include('../partials/navbar') %>
    <div class="home_page_headers">
      <h1 class="home_page_header1">Home Page</h1>
      <h2 class="home_page_header2">Welcome To My HTML Website!</h2>
    </div>

    <div class="maincontent">
      <main id="maincontent">
        <button class="ripple-button">Ripple Button</button>

        <button class="alert-button">Click here to get an alert</button>

        <p>
          This is a test paragraph
        </p>
      </main>
    </div>
  </body>
</html>
