<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>My HTML Website - Home Page</title>
  </head>
  <a href="#maincontent" class="skip-nav-link"> Skip Navagation </a>
  <body>
    <%- include('../partials/navbar') %>
    <div class="indexhtml_headers">
      <p></p>
      <h1 class="home_page_header1">Home Page</h1>
      <h2 class="home_page_header2">Welcome To My HTML Website!</h2>
    </div>

    <div class="maincontent" class="indexmaincontent">
      <main id="maincontent">
        <button class="ripple-button">Ripple Button - Test</button>

        <button class="alert-button">Click here to get an alert</button>

        <h1>Added some bold text</h1>

        <p id="paragraph1">
          This is some example text. This is some more text. BLA BLA BLA. Some
          more stuff... so there is some more random things. some more text and
          some more text. THIS IS A TEST.
        </p>
      </main>
    </div>
  </body>
</html>
