<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Pyscript Testing</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pyscript.net/releases/2024.1.1/core.css"
    />
    <script
      type="module"
      src="https://pyscript.net/releases/2024.1.1/core.js"
    ></script>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <py-script>print("Hello World!")</py-script>
  </body>
</html>
